<div class="container">
  <div class="trip-show-buttons d-flex justify-content-center mt-3">
    <%= link_to 'Back', trip_path(@trip), class: "btn btn-outline-secondary mx-2" %>
    <%= link_to 'Delete',
                trip_path(@trip),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger mx-2" %>
    <% if !@trip.date_visited %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">
      Trip Completed
    </button>

    <% elsif @trip.published %>
    <% else %>
    <%= link_to 'Publish Trip', trip_path(@trip, commit: "Publish Trip"), method: :patch, class: "btn btn-outline-success mx-2" %>
    <% end %>
  </div>
  <!-- top section -->
  <div class="trip-edit-top mt-3">
    <div class="container trip-edit-text">
      <div class="title-elements">
        <h1 id="trip-edit-title"><%= @trip.name %></h1>
        <% if @trip.date_visited %>
        <p><em><%= @trip.date_visited.strftime('%A %-d %B %Y') %></em></p>
        <% end %>
        <div class="title mt-3">
          <%= simple_form_for @trip do |f| %>
            <%= f.input :name, hint: "Give your trip a title" %>
            <%= f.input :tagline, hint: "One sentence to describe your trip" %>
            <% if @trip.date_visited %>
            <%= f.input :top_tip, hint: "What made your trip special?" %>
            <%= f.input :description, :input_html => {:rows => 5}, hint: "Give as much detail as you like!" %>
            <% else %>
            <%= f.input :description, label: "Notes", :input_html => {:rows => 10}, hint: "Describe and plan your walk with your fellow enthusiasts!" %>
            <% end %>
          <%= f.button :submit, value: 'Update Details', class: "btn btn-outline-secondary", remote: true %>
          <% end %>
        </div>
      </div>

      <div class="edit-text-box">
        <div class="trip-description-bottom mt-3">
          <% @trip.users.each do |tripper| %>
            <%= render 'shared/trip-user-tiny', user: tripper %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="trip-edit-tabs">
      <nav>
    <div class="nav nav-tabs justify-content-center mt-3" id="nav-tab" role="tablist">
      <% if @active_tab == 'megaliths' %>
      <button class="nav-link" id="nav-users-tab" data-toggle="tab" data-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="false">Friends</button>
      <button class="nav-link active" id="nav-megaliths-tab" data-toggle="tab" data-target="#nav-megaliths" type="button" role="tab" aria-controls="nav-megaliths" aria-selected="false">Megaliths</button>
        <% if @trip.date_visited %>
        <button class="nav-link" id="nav-photos-tab" data-toggle="tab" data-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false">Photos</button>
        <% end %>
      <% elsif @active_tab == 'photos' %>
      <button class="nav-link" id="nav-users-tab" data-toggle="tab" data-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="false">Friends</button>
      <button class="nav-link" id="nav-megaliths-tab" data-toggle="tab" data-target="#nav-megaliths" type="button" role="tab" aria-controls="nav-megaliths" aria-selected="false">Megaliths</button>
      <button class="nav-link active" id="nav-photos-tab" data-toggle="tab" data-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false">Photos</button>
      <% else %>
      <button class="nav-link active" id="nav-users-tab" data-toggle="tab" data-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="false">Friends</button>
      <button class="nav-link" id="nav-megaliths-tab" data-toggle="tab" data-target="#nav-megaliths" type="button" role="tab" aria-controls="nav-megaliths" aria-selected="false">Megaliths</button>
        <% if @trip.date_visited %>
        <button class="nav-link" id="nav-photos-tab" data-toggle="tab" data-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false">Photos</button>
        <% end %>
      <% end %>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <% if !(@active_tab) %>
    <div class="tab-pane fade show active container" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
    <% else %>
    <div class="tab-pane fade container" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
    <% end %>
      <div class="current-trip-users">
        <% @trip_users.each do |tripper| %>
          <%= render 'shared/user_card', user: tripper, button: 'delete', trip: @trip %>
        <% end %>
      </div>

      <div class="trip-user-search">
        <%= form_tag edit_trip_path(@trip), method: :get, class: "d-flex", remote: true do %>
          <%= text_field_tag :user_query,
            params[:user_query],
            class: "form-control",
            placeholder: "Invite others"
          %>
          <%= hidden_field_tag 'trip_id', @trip.id.to_s %>
          <%= submit_tag "Search", class: "btn btn-outline-secondary ml-2" %>
        <% end %>
        </div>

        <div class="trip-user-search-results">
        </div>
      </div>
      <% if @active_tab == 'megaliths' %>
      <div class="tab-pane fade show active" id="nav-megaliths" role="tabpanel" aria-labelledby="nav-megaliths-tab">
      <% else %>
      <div class="tab-pane fade" id="nav-megaliths" role="tabpanel" aria-labelledby="nav-megaliths-tab">
      <% end %>
        <div class="current-trip-megaliths">
            <div class="trip-page-map">
              <div id="map"
                 data-markers="<%= @markers.to_json %>"
                 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
          <h4 class="mt-4 mb-3" id="megaliths-anchor">Current Megaliths</h4>
          <div class="current-edit-megaliths">
              <%= render 'shared/trip_megalith_card', megalith: @main_megalith, button: 'none' %>
            <% @trip_megaliths.reject{ |meg| meg.megalith == @main_megalith }.each do |trip_megalith| %>
              <%= render 'shared/trip_megalith_card', megalith: trip_megalith.megalith, button: 'delete', trip: @trip %>
            <% end %>
          </div>
          <h4 class="mt-4 mb-3">Other megaliths within 5 miles</h4>
          <div class="other-edit-megaliths">
            <% @search_megaliths.each do |megalith| %>
              <%= render 'shared/trip_megalith_card', megalith: megalith, button: 'add', trip: @trip %>
            <% end %>
          </div>
        </div>
      </div>
      <% if @active_tab == 'photos' %>
      <div class="tab-pane fade show active" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
      <% else %>
      <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
      <% end %>
        <div class="container">
          <% if @trip.trip_photos.first %>
            <h4 class="pt-3 mb-0" id="photos-anchor">Current photos</h4>
            <p class="mb-0" style="color: #6c757d"><small><em>Assign your photos to megaliths so they show on the megalith page!</em></small></p>
            <div class="trip-photo-edit-container">
              <% @trip.trip_photos.each do |photo_obj| %>
                <div class="trip-photo-edit-display" style="background-image: url('<%= cl_image_path photo_obj.photo.key %>')">
                  <% if photo_obj.megalith_photo_id %>
                    <% megalith = MegalithPhoto.find(photo_obj.megalith_photo_id).megalith.name %>
                    <small class="trip-photo-edit-mega-name"><%= megalith %></small>
                  <% else %>
                    <%= simple_form_for([photo_obj, @megalith_photo]) do |f| %>
                      <div class="megalith-form">
                        <%= f.input :megalith, collection: @trip.megaliths, label: false, input_html: { class: 'select-megalith' } %>
                        <%= hidden_field_tag(:active_tab, 'photos') %>
                        <%= f.button :submit, '✓', class: 'p-0 px-1 ml-1 btn btn-outline-secondary', style: "height: 30.8px" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
          <h4 class="pt-1">Add photos</h4>
          <%= simple_form_for @trip, html: { id: :photo_upload } do |f| %>
            <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'hidden', id: 'photo-input' } %>
              <div class="photo_insert"></div>
            <%= hidden_field_tag(:active_tab, 'photos') %>
            <%= f.button :submit, value: "Upload Photos", class: "btn btn-outline-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Finalise Trip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @trip do |f| %>
          <%= f.input :date_visited, as: :string, required: false, input_html: {class: "datepicker"}, hint: "Select the date you completed your trip" %>
          <%= f.button :submit, class: "btn btn-primary", value: "Confirm Date" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <!-- Map -->

  <!-- Lower Section -->
</div>
