<div class="container mt-5">
  <div class="trip-edit-form">
    <h2>Edit trip details</h2>
    <%= simple_form_for @trip do |f| %>
      <%= f.input :name %>
      <%= f.input :tagline %>
      <%= f.input :description %>
      <%= f.association :megaliths, as: :check_boxes, collection: Megalith.where.not(id: @megalith.id), label: "Does your trip include other megaliths?" %>
      <%= f.button :submit, class: "btn btn-outline-secondary" %>
    <% end %>
  </div>

  <h2 class="pt-3">Add other users</h2>
  <div class="trip-users">
    <div class="current-trip-users">
      <% @trip_users.each do |tripper| %>
        <%= render 'shared/user_card', user: tripper, button: 'delete', trip: @trip %>
      <% end %>
    </div>

    <div class="trip-users col-12 col-md-6">
      <div class="current-trip-users">
        <% @trip_users.each do |tripper| %>
          <%= render 'shared/user_card', user: tripper, button: 'delete', trip: @trip %>
        <% end %>
      </div>

      <div class="trip-user-search">
        <%= form_tag edit_trip_path(@trip), method: :get, class: "d-flex", remote: true do %>
          <%= text_field_tag :user_query,
            params[:user_query],
            class: "form-control",
            placeholder: "Invite others"
          %>
          <%= hidden_field_tag 'trip_id', @trip.id.to_s %>
          <%= submit_tag "Search", class: "btn btn-outline-secondary ml-2" %>
        <% end %>
      </div>

      <div class="trip-user-search-results">
      </div>
    </div>
  <div class="trip-photos">
  <h2 class="pt-3">Add photos</h2>
    <%= simple_form_for @trip, html: { id: :photo_upload } do |f| %>
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'hidden', id: 'photo-input' } %>
      <%= f.button :submit, class: "sub-btn btn btn-outline-secondary" %>
    <% end %>
  </div>

  <h4><%= link_to 'Back', trip_path(@trip), class: "btn btn-outline-secondary" %></h4>
</div>
