<div class="container">
  <div class="trip-show-buttons d-flex justify-content-center mt-3">
    <%= link_to 'Back', trip_path(@trip), class: "btn btn-outline-secondary mx-2" %>
    <%= link_to 'Delete',
                trip_path(@trip),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger mx-2" %>
    <% if !@trip.date_visited %>
    <%= link_to 'Trip Completed', finalise_trip_edit_path(@trip), class: "btn btn-outline-success mx-2" %>
    <% elsif @trip.published %>
    <% else %>
    <%= link_to 'Publish Trip', trip_path(@trip, commit: "Publish Trip"), method: :patch, class: "btn btn-outline-success mx-2" %>
    <% end %>
  </div>
  <!-- top section -->
  <div class="trip-edit-top mt-3">
    <div class="container trip-edit-text">
      <div class="title-elements">
        <h1 id="trip-edit-title"><%= @trip.name %></h1>
        <% if @trip.date_visited %>
        <p><em><%= @trip.date_visited.strftime('%A %-d %B %Y') %></em></p>
        <% end %>
        <div class="title mt-3">
          <%= simple_form_for @trip do |f| %>
            <%= f.input :name, hint: "Give your trip a title" %>
            <%= f.input :tagline, hint: "One sentence to describe your trip" %>
            <% if @trip.date_visited %>
            <%= f.input :top_tip, hint: "What made your trip special?" %>
            <%= f.input :description, :input_html => {:rows => 10}, hint: "Give as much detail as you like!" %>
            <% else %>
            <%= f.input :description, label: "Notes", :input_html => {:rows => 10}, hint: "Describe and plan your walk with your fellow enthusiasts!" %>
            <% end %>
          <%= f.button :submit, value: 'Update Details', class: "btn btn-outline-secondary", remote: true %>
          <% end %>
        </div>
      </div>

      <div class="edit-text-box">
        <div class="trip-description-bottom mt-3">
          <% @trip.users.each do |tripper| %>
            <%= render 'shared/trip-user-tiny', user: tripper %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="trip-edit-tabs">
      <nav>
    <div class="nav nav-tabs justify-content-center mt-3" id="nav-tab" role="tablist">
      <% if !(@active_tab == 'megaliths') %>
      <button class="nav-link active" id="nav-users-tab" data-toggle="tab" data-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="false">Friends</button>
      <% else %>
      <button class="nav-link" id="nav-users-tab" data-toggle="tab" data-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="false">Friends</button>
      <% end %>
      <% if @active_tab == 'megaliths' %>
      <button class="nav-link active" id="nav-megaliths-tab" data-toggle="tab" data-target="#nav-megaliths" type="button" role="tab" aria-controls="nav-megaliths" aria-selected="false">Megaliths</button>
      <% else %>
      <button class="nav-link" id="nav-megaliths-tab" data-toggle="tab" data-target="#nav-megaliths" type="button" role="tab" aria-controls="nav-megaliths" aria-selected="false">Megaliths</button>
      <% end %>
      <% if @trip.date_visited %>
        <button class="nav-link" id="nav-photos-tab" data-toggle="tab" data-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false">Photos</button>
      <% end %>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <% if !(@active_tab == 'megaliths') %>
    <div class="tab-pane fade show active container" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
    <% else %>
    <div class="tab-pane fade container" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
    <% end %>
      <div class="current-trip-users">
        <% @trip_users.each do |tripper| %>
          <%= render 'shared/user_card', user: tripper, button: 'delete', trip: @trip %>
        <% end %>
      </div>

      <div class="trip-user-search">
        <%= form_tag edit_trip_path(@trip), method: :get, class: "d-flex", remote: true do %>
          <%= text_field_tag :user_query,
            params[:user_query],
            class: "form-control",
            placeholder: "Invite others"
          %>
          <%= hidden_field_tag 'trip_id', @trip.id.to_s %>
          <%= submit_tag "Search", class: "btn btn-outline-secondary ml-2" %>
        <% end %>
        </div>

        <div class="trip-user-search-results">
        </div>
      </div>
      <% if @active_tab == 'megaliths' %>
      <div class="tab-pane fade show active" id="nav-megaliths" role="tabpanel" aria-labelledby="nav-megaliths-tab">
      <% else %>
      <div class="tab-pane fade" id="nav-megaliths" role="tabpanel" aria-labelledby="nav-megaliths-tab">
      <% end %>
        <div class="current-trip-megaliths">
            <div class="edit-page-map">
              <div id="map"
                 data-markers="<%= @markers.to_json %>"
                 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
          <h4 class="mt-2" id="megaliths-anchor">Current Megaliths</h4>
          <div class="current-edit-megaliths">
              <%= render 'shared/trip_megalith_card', megalith: @main_megalith, button: 'none' %>
            <% @trip_megaliths.reject{ |meg| meg.megalith == @main_megalith }.each do |trip_megalith| %>
              <%= render 'shared/trip_megalith_card', megalith: trip_megalith.megalith, button: 'delete', trip: @trip %>
            <% end %>
          </div>
          <h4 class="mt-2">Other megaliths within 5 miles</h4>
          <div class="other-edit-megaliths">
            <% @search_megaliths.each do |megalith| %>
              <%= render 'shared/trip_megalith_card', megalith: megalith, button: 'add', trip: @trip %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
        <div class="container">
          <h2 class="pt-3">Add photos</h2>
          <%= simple_form_for @trip, html: { id: :photo_upload } do |f| %>
            <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'hidden', id: 'photo-input' } %>
            <%= f.button :submit, value: "Upload Photos", class: "btn btn-outline-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>

  <!-- Map -->

  <!-- Lower Section -->
</div>
