<div class="container">
  <div class="trip-show-buttons d-flex justify-content-center mt-3">
    <%= link_to 'Edit', edit_trip_path(@trip), class: "btn btn-outline-secondary mx-2" %>
    <%= link_to 'Delete',
                trip_path(@trip),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger mx-2" %>
    <% if !@trip.date_visited %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">
      Trip Completed
    </button>

    <% elsif @trip.published %>
    <% else %>
    <%= link_to 'Publish Trip', trip_path(@trip, commit: "Publish Trip"), method: :patch, class: "btn btn-outline-success mx-2" %>
    <% end %>
  </div>
  <!-- top section -->
  <div class="trip-page-top mt-2">
    <div class="trip-page-text">
      <div class="title-elements mt-3">
        <div class="title mt-3">
          <h1><b><%= @trip.name %></b></h1>
        </div>
      </div>

      <div class="subheading-elements mt-3">
        <div class="trip-show-details">
          <p><b>Date:</b></p>
          <p><em><%= @trip.date_visited ? @trip.date_visited.strftime('%A %-d %B %Y') : "Hopefully soon" %></em></p>
        </div>
        <div class="trip-show-details">
          <p><b>Upvotes:</b></p>
          <p><em><%= @trip.published ? @trip.get_likes.size : "Publish your trip first!" %></em></p>
        </div>
      </div>
      <div class="visited-sites-pills my-2">
        <% @trip.megaliths.each do |megalith| %>
          <span class="badge badge-pill badge-secondary mr-2"><%= megalith.name.truncate(20) %></span>
        <% end %>
      </div>
      <div class="trip-description-bottom">
        <% @trip.users.each do |tripper| %>
          <%= render 'shared/trip-user-tiny', user: tripper %>
        <% end %>
      </div>
      <HR> </HR>
      <div class="description-text-box">
        <div class="tagline">
          <p><b>Tagline:</b> <%= @trip.tagline %> </p>
        </div>
        <% if @trip.top_tip %>
          <p><b>Top Tip:</b> <%= @trip.top_tip %> </p>
        <% end %>
        <div class="Description"><p>
          <p><b>Description:</b> <%= @trip.description %></p>
        </div>
      </div>
    </div>

    <div class="trip-page-images">
      <div id="trip-page-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
          <% if @trip.trip_photos.empty? %>
            <div class="carousel-item active">
              <%= image_tag "placeholder-megalith.png", class:"d-block w-100", alt:"Megalith"%>
            </div>
            <% else %>
            <% @trip.trip_photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index == 0  %>">
                <%= cl_image_tag photo.photo.key, class:"d-block w-100"%>
              </div>
            <% end %>
          <% end %>
          <a class="carousel-control-prev" href="#trip-page-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#trip-page-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Lower Section -->
  <div class="mt-4">
    <!-- Placeholder for trip cards -->
    <div class="trip-basics">
      <div class="trip-show-megaliths mb-4">
        <h2 class="mb-4"> Megaliths Visited </h2>
        <%= link_to megalith_path(@main_megalith) do %>
          <%= render 'shared/trip_megalith_card', megalith: @main_megalith, button: 'none' %>
        <% end %>
            <% @other_megaliths.each do |megalith| %>
              <%= link_to megalith_path(megalith) do %>
                <%= render 'shared/trip_megalith_card', megalith: megalith, button: 'none' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- placeholder for trip cards -->
    <!-- users that came along -->
    <h2>Users</h2>
    <div class="trip-users-container-bottom">
      <% @trip.users.each do |tripper| %>
        <%= render 'shared/trip-user-vert', user: tripper %>
      <% end %>
    <!-- end of users that came along -->
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Finalise Trip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @trip do |f| %>
          <%= f.input :date_visited, as: :string, required: false, input_html: {class: "datepicker"}, hint: "Select the date you completed your trip" %>
          <%= f.button :submit, class: "btn btn-primary", value: "Confirm Date" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

