<h1>Trip show page</h1>
  <p>Name: <%= @trip.name %> </p>
  <p>tagline: <%= @trip.tagline %> </p>
  <p>description: <%= @trip.description %> </p>
  <% if @trip.top_tip %>
    <p>top_tip: <%= @trip.top_tip %> </p>
  <% end %>
  <% if @trip.date_visited %>
    <p>date_visited: <%= @trip.date_visited %></p>
  <% end %>
  <% @trip.trip_megaliths.each do |trip_megalith| %>
    <p>megalith: <%= trip_megalith.megalith.name %> </p>
  <% end %>
<%= link_to 'Edit', edit_trip_path(@trip) %>
<%= link_to 'Delete',
            trip_path(@trip),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<%= link_to 'Add trip to visited?', finalise_trip_edit_path(@trip) %>
