<h1>Trip show page</h1>
<p>Name:<%= @trip.name %> </p>
<p>tagline:<%= @trip.tagline %> </p>
<p>description:<%= @trip.description %> </p>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Delete',
            trip_path(@trip),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
