<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">




      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs form-login">
          <h2>Sign up</h2>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      placeholder: "rusty@gmail.com" %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      placeholder: "••••••" %>
          <%= f.input :password_confirmation,
                      required: true,
                      placeholder: "••••••" %>
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-outline-secondary" %>
          </div>
          <%= render "devise/shared/links" %>
        </div>


      <% end %>



    </div>
  </div>
</div>
