<div id=<%= "comment-#{comment.id}" %>>
  <p class="comment"><%= comment.text %></p>
  <p><small>Comment by <strong><%= comment.user.username %></strong></small></p>
  <p><small><em>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</em></small></p>
  <%= link_to comments_upvote_path(comment, redirect: comment.megalith, redirect_type: 'megalith'), method: :post, remote: true do %>
  <i class="fas fa-angle-up"></i>
  <% end %>
  <p><%= comment.get_likes.size %></p>
</div>
