<div class="comment" id=<%= "comment-#{comment.id}" %>>
  <div class="comment-content">
    <% if comment.user.photo.attached? %>
      <%= cl_image_tag comment.user.photo.key, alt: "profile avatar", class: "avatar mr-2 mb-1" %><strong><%= comment.user.username %></strong>
    <% else %>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png", alt: "profile avatar", class: "avatar mr-2 mb-1" %><strong><%= comment.user.username %></strong>
    <% end %>
    <p class="mb-1"><%= comment.text %></p>
    <p><small><em>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</em></small></p>
  </div>
  <%= link_to comments_upvote_path(comment, redirect: comment.megalith, redirect_type: 'megalith'), method: :post, remote: true do %>
    <div class="upvoting">
      <p><%= comment.get_likes.size %></p>
      <i class="fas fa-angle-up"></i>
    </div>
  <% end %>
</div>
<hr>
