<div class="container">
  <div class="profile-details my-3 p-2">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, alt: "profile picture", class: "profile-picture my-2" %>
    <% else %>
      <div class="profile-substitute my-2"></div>
    <% end %>
    <h1 class="text-center my-2"><%= @user.username %></h1>
    <%= link_to "edit", edit_user_registration_path, class: "btn btn-outline-secondary" %>
  </div>
    <ul class="nav nav-tabs justify-content-around" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="saved-tab" data-toggle="tab" data-target="#saved" type="button" role="tab" aria-controls="saved" aria-selected="false">Saved</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="trips-tab" data-toggle="tab" data-target="#trips" type="button" role="tab" aria-controls="trips" aria-selected="false">Trips</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="badge-container">
        <h2>holding text, badges here</h2>
        <p>Photographer: <%= @user.photographer_score %></p>
        <p>Commenter: <%= @user.commenter_score %></p>
        <p>Tour Guide: <%= @user.tour_guide_score %></p>
      </div>
      <div class="comment-container">
        <h2>Comments</h2>
        <% @comments.each do |comment| %>
          <p class="comment"><%= comment.text %></p>
          <p><small><em>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</em></small></p>
        <% end %>
      </div>
      <div class="photo-container">
        <h2>holding text, photos here</h2>
        <% @photos.each do |mega_photo| %>
          <div class="profile-megalith-photos">
            <%= mega_photo.megalith.name %> Upvotes: <%= mega_photo.upvote_score %>
            <%= cl_image_tag mega_photo.photo.key, alt: mega_photo.megalith.name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="saved-tab">
      <ul class="nav nav-tabs justify-content-around" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="true">Favourites</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="visited-tab" data-toggle="tab" href="#visited" role="tab" aria-controls="visited" aria-selected="false">Visited</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
          <% if @favourites[0] %>
            <% @favourites.each do |megalith| %>
              <%= link_to megalith_path(megalith) do %>
                <%= render 'shared/card', megalith: megalith %>
              <% end %>
            <% end %>
          <% else %>
            <h2 class="mt-3 text-center">Favourite a megalith to display it here</h2>
          <% end %>
        </div>
        <div class="tab-pane fade" id="visited" role="tabpanel" aria-labelledby="visited-tab">
          <% if @visiteds[0] %>
            <% @visiteds.each do |megalith| %>
              <%= link_to megalith_path(megalith) do %>
                <%= render 'shared/card', megalith: megalith %>
              <% end %>
            <% end %>
          <% else %>
            <h2 class="mt-3 text-center">Visit a megalith to display it here</h2>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="trips" role="tabpanel" aria-labelledby="trips-tab">
      <ul class="nav nav-tabs justify-content-around" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="in-planning-tab" data-toggle="tab" href="#in-planning" role="tab" aria-controls="in-planning" aria-selected="true">In Planning</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Completed</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="in-planning" role="tabpanel" aria-labelledby="in-planning-tab">
          <div class="planned-trips-container">
            <% if @planned_trips[0] %>
              <% @planned_trips.each do |trip| %>
                <%= link_to trip_path(trip) do %>
                  <%= render 'shared/trip_card', trip: trip %>
                <% end %>
              <% end %>
            <% else %>
              <h2 class="mt-3 text-center">Plan a trip to display it here</h2>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
          <div class="completed-trips-container">
            <% if @completed_trips[0] %>
              <% @completed_trips.each do |trip| %>
                <%= link_to trip_path(trip) do %>
                  <%= render 'shared/trip_card', trip: trip %>
                <% end %>
              <% end %>
            <% else %>
              <h2 class="mt-3 text-center">Complete a trip to display it here</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
