<div class="card-general mt-3">
  <div class="card-general-image-container">
    <% if megalith.megalith_photos.first %>
      <% if megalith.megalith_photos.first.photo.attached? %>
      <%= cl_image_tag megalith.megalith_photos.first.photo.key, class:"card-general-image" %>
      <% else %>
      <%= cl_image_tag megalith.megalith_photos.first.photo_key, class:"card-general-image" %>
      <% end %>
    <% end %>
  </div>
  <div class="card-general-infos">
    <div class="card-general-top">
      <div class="card-general-title">
        <h2><%= megalith.name %></h2>
      </div>
      <div class="card-general-top-left">
        <p><%= megalith.category %></p>
      </div>
    </div>
    <div class="card-general-extras">
      <div class="mr-5">
      </div>
    </div>
    <HR>
    <div class="card-general-tagline">
      <p>
        <% if current_page? root_path %>
          <%= megalith.description.truncate(120) %>
        <% else %>
          <%= megalith.description.truncate(470) %>
        <% end %>
      </p>
    </div>
    <HR>
    <div class="card-general-bottom">
      <div class="card-general-location">
        <% if current_user %>
          <% if current_user.favourited.include? megalith %>
              <i class="fas fa-heart" style="font-size: 16px"></i>
          <% else %>
              <i class="far fa-heart" style="font-size: 16px"></i>
          <% end %>
        <% end %>
        <!-- <p>location</p> -->
      </div>
      <div class="card-general-bottom-left">
        <p style="font-size: 16px">
          <% if megalith.average_rating %>
            <%= megalith.average_rating %><p>
          <% else %>
          —
          <% end %>
        </p>
        <p style="font-size: 16px; padding-left: 4px; padding-bottom: 2px;">★</p>
      </div>
    </div>
  </div>
</div>

<!-- your favourites? -->
