<div class="card-general mt-3">
  <div class="card-trip-image">
    <% if trip.trip_photos[0] %>
      <%= cl_image_tag trip.trip_photos.first.photo.key, class:"trip-card-thumbnail" %>
    <% else %>
      <% if trip.megaliths.first.megalith_photos.first.photo.attached? %>
      <%= cl_image_tag trip.megaliths.first.megalith_photos.first.photo.key, class:"trip-card-thumbnail" %>
      <% else %>
      <%= cl_image_tag trip.megaliths.first.megalith_photos.first.photo_key, class:"trip-card-thumbnail" %>
      <% end %>
    <% end %>
  </div>
  <div class="card-trip-infos">
    <div class="card-general-top">
      <div class="card-general-title">
        <h2><%= trip.name %></h2>
        <h3><%= trip.tagline.truncate(35) %></h3>
      </div>
      <div class="card-trip-top-right">
        <p><%= trip.date_visited.strftime('%a %-d %b %Y') %></p>
      </div>
    </div>
    <div class="card-general-extras">
      <% if current_page? root_path %>
        <% trip.megaliths[0..1].each do |megalith| %>
          <%= link_to megalith_path(megalith) do %>
            <span class="badge badge-pill badge-secondary mr-2" data-toggle="tooltip" data-placement="bottom" title="<%= megalith.name %>"><%= megalith.name.truncate(15) %></span>
          <% end %>
        <% end %>
        <% if trip.megaliths.third %>
          <span class="badge badge-pill badge-secondary mr-2" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<% trip.megaliths[2..-1].each do |megalith| %><%= megalith.name %><br><% end %>">...</span>
        <% end %>
      <% else %>
        <% trip.megaliths[0..6].each do |megalith| %>
          <%= link_to megalith_path(megalith) do %>
            <span class="badge badge-pill badge-secondary mr-2" data-toggle="tooltip" data-placement="bottom" title="<%= megalith.name %>"><%= megalith.name.truncate(15) %></span>
          <% end %>
        <% end %>
        <% if trip.megaliths[7] %>
          <span class="badge badge-pill badge-secondary mr-2" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<% trip.megaliths[7..-1].each do |megalith| %><%= megalith.name %><br><% end %>">...</span>
        <% end %>
      <% end %>
    </div>
    <HR class="trip-card-hr">
    <div class="card-general-tagline">
      <% if current_page? root_path %>
        <p><%= trip.top_tip %></p>
      <% else %>
        <p><%= trip.top_tip %></p>
        <p><%= trip.description%></p>
      <% end %>
    </div>
    <HR class="trip-card-hr">
    <div class="card-general-bottom">
      <div class="card-general-location trip-profiles-container">
        <% trip.users[0..3].each do |user| %>
          <%= link_to user_path(user) do %>
            <div class="trip-profile-image" data-toggle="tooltip" data-placement="top" title=" <% if user.username %> <%= user.username %> <% else %> Anon <% end %>">
              <% if user.photo %>
                <%= cl_image_tag user.photo.key, class:"trip-avatar" %>
              <% else %>
                <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png", class: "trip-avatar" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <% if trip.users.fifth %>
          <% trip.users[4..-1].each do |user| %>
            <%= link_to user_path(user) do %>
              <div class="trip-profile-image" data-toggle="tooltip" data-placement="top" data-html="true" title="<% trip.users[4..-1].each do |user| %><%= user.username %><br><% end %>">
                  <%= image_tag "https://visualpharm.com/assets/766/Timezone%20+5-595b40b85ba036ed117dbc56.svg", class: "trip-avatar" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% unless redirect == 'none' %>
        <%= link_to trips_upvote_path(trip, redirect: redirect, redirect_type: redirect_type), method: :post, remote: true do %>
        <div class="card-general-bottom-left upvoting upvoting-card">
            <p><%= trip.get_likes.size %></p>
            <i class="fas fa-angle-up"></i>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



