<div class="card-general mt-3">
  <div class="card-trip-image">
    <% if trip.trip_photos[0] %>
      <%= cl_image_tag trip.trip_photos.first.photo.key, class:"trip-card-thumbnail" %>
    <% else %>
      <%= cl_image_tag trip.megaliths.first.megalith_photos.first.photo.key, class:"trip-card-thumbnail" %>
    <% end %>
  </div>
  <div class="card-general-infos">
    <div class="card-general-top">
      <div class="card-general-title">
        <h2><%= trip.name %></h2>
        <h3><%= trip.tagline %></h3>
      </div>
      <div class="card-general-top-left card-trip-top-left">
        <p><%= trip.date_visited %></p>
      </div>
    </div>
    <div class="card-general-extras">
      <% trip.megaliths.each do |megalith| %>
        <%= link_to megalith_path(megalith) do %>
          <span class="badge badge-pill badge-secondary mr-2"><%= megalith.name.truncate(20) %></span>
        <% end %>
      <% end %>
    </div>
    <HR class="trip-card-hr">
    <div class="card-general-tagline">
      <p>Top tip: <%= trip.top_tip %></p>
      <p><%= trip.description %><p>
    </div>
    <HR class="trip-card-hr">
    <div class="card-general-bottom">
      <div class="card-general-location trip-profiles-container">
        <% trip.users.each do |user| %>
          <%= link_to user_path(user) do %>
            <div class="trip-profile-image">
              <% if user.photo %>
                <%= cl_image_tag user.photo.key, class:"trip-avatar" %>
              <% else %>
                <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png", class: "trip-avatar" %>
              <% end %>
              <% if user.username %>
                <p><%= user.username %></p>
              <% else %>
                <p>Anon</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% unless redirect == 'none' %>
      <div class="card-general-bottom-left upvoting">
        <%= link_to trips_upvote_path(trip, redirect: redirect, redirect_type: redirect_type), method: :post, remote: true do %>
        <% end %>
        <i class="fas fa-angle-up"></i>
        <!-- the below should be inside an iteration for the photo and use megalith_photo.get_likes.size -->
        <p><%= trip.get_likes.size %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>



