<div class="homepage-banner banner-home mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1601465364325-34b5b5fdb6c4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Megalithipedia</h1>
    <h2>The best online archive of megalithic sites in the world.</h2>
    <% if user_signed_in? %>
      <div class="home-search">
        <%= form_tag megaliths_path, class:"d-flex", method:"get" do %>
          <div id="geocoder"></div>
          <%= hidden_field_tag :query, nil, id: "geocoder-query" %>
          <%= submit_tag "Go", class:"btn btn-secondary go-btn" %>
        <% end %>
      </div>
    <% else %>
      <%= link_to "Sign Up", new_user_session_path, class: "btn btn-light", type: "submit"%>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light", type: "submit"%>
    <% end %>
  </div>
</div>

<div class="middle-with-carousel">
  <div class="row">
      <div class="col-12 col-lg-6 home-page-middle-text">
          <h3><b>mega·​lith | \ ˈme-gə-ˌlith :</b> An ancient stone used to construct prehistoric monuments, held sacred by our ancestors for worship, the exchanging of ideas, and veneration of the dead</h3>
          <p>These ancient structures have endured for millennia, providing a glimpse into worlds long forgotten. At Megalithipedia, our goal is to provide a home for megalith enthusiasts to share their knowledge and experiences.</p>
      </div>

    <div class="col-12 col-lg-6">
      <div class="home-page-images">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://images.unsplash.com/photo-1591461712364-5fbdb038f8b0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://images.unsplash.com/photo-1595878263687-3ed42bfa52a4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://images.unsplash.com/photo-1600184894932-4f5c2f02b170?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="step-card-container">
  <div class="step-card">
    <div class="step-image-card">
      <img src="https://images.unsplash.com/photo-1607541812763-a73cdc8d597b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80">
    </div>
    <div class="step-description-card col-lg-6">
      <h5>Discover Ancient Monuments</h5><hr>
      <p>From the scorching planes of Egypt to the rolling hills of England, there's always a new megalith to explore.</p>
    </div>
  </div>
  <div class="step-card mt-3">
    <div class="step-description-card col-lg-6">
      <h5>Connect With a Growing Community</h5><hr>
      <p>Whether you're a megalith master, intrepid explorer, or just an inquisitive onlooker, there's a place for you at Megalithipedia.</p>
    </div>
    <div class="step-image-card">
      <img src="https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80">
    </div>
  </div>
  <div class="step-card mt-3">
    <div class="step-image-card">
      <img src="https://media.timeout.com/images/105416355/image.jpg">
    </div>
    <div class="step-description-card col-lg-6">
      <h5>Plan Excursions With Friends</h5><hr>
      <p>Our handcrafted trip tool lets you plan your route, invite friends, upload photos, share your trip with the community and more. Spend less time planning, more time exploring.</p>
    </div>
  </div>
</div>

<!-- <div class="homepage-card-container-temp mx-5">
  <div class="homepage-card">
    <img src="https://images.unsplash.com/photo-1607541812763-a73cdc8d597b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80">
    <div class="homepage-card-text">
      <h2>Discover Ancient Monuments</h2>
      <p>From the scorching planes of Egypt to the rolling hills of England, there's always a new megalith to explore.</p>
    </div>
  </div>
  <div class="homepage-card">
    <img src="https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80">
    <div class="homepage-card-text">
      <h2>Connect With a Growing Community</h2>
      <p>Whether you're a megalith master, intrepid explorer, or just an inquisitive onlooker, there's a place for you at Megalithipedia.</p>
    </div>
  </div>
  <div class="homepage-card">
    <img src="https://media.timeout.com/images/105416355/image.jpg">
    <div class="homepage-card-text">
      <h2>Plan Excursions With Friends</h2>
      <p>Our handcrafted trip tool lets you plan your route, invite friends, upload photos, share your trip with the community and more. Spend less time planning, more time exploring.</p>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2>Top Sites</h2>
      <div class="most-visited-container">
        <% @megaliths.first(3).each do |megalith| %>
          <%= link_to megalith_path(megalith) do %>
            <%= render 'shared/card', megalith: megalith %>
          <%end%>
        <%end%>
        <div class="collapse" id="collapseExample">
          <% @megaliths.last(7).each do |megalith| %>
            <%= link_to megalith_path(megalith) do %>
              <%= render 'shared/card', megalith: megalith %>
            <%end%>
          <%end%>
        </div>
      </div>
      <a class="btn btn-outline-secondary mt-3" id="view-more" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">View More</a>
    </div>
  <div class="col-12 col-lg-6">
    <h2>Most popular trips</h2>
    <div id="popular-trips" class="most-visited-container">
      <% @trips.each do |trip| %>
          <%= render 'shared/trip_card', trip: trip, redirect: '_', redirect_type: 'home' %>
      <%end%>
    </div>
  </div>
</div>
