<h1>Megaliths#index</h1>
<p>Find me in app/views/megaliths/index.html.erb</p>

<d class="d-flex">
  <% @megaliths.each do |lith| %>
    <div class="index-card m-2 border border-primary">
      <%= cl_image_tag lith.megalith_photos.first.photo.key, height: 200, width: 200, crop: :fill %>
      <h2><%= lith.name %></h2>
      <p><%= lith.category %></p>
      <p><%= lith.description %></p>
      <p>latitude: <%= lith.latitude %></p>
      <p>longitude: <%= lith.longitude %></p>
    </div>
  <% end %>
</d>
