<div class="container">
  <!-- top section -->
  <div class="show-page-top mt-5">
    <div class="show-page-text">
      <div class="title-elements mt-3">
        <div class="title mt-3"><h1><%= @megalith.name %> </h1>
        </div>
        <div class="title-elements-line-two">
          <div class="dropdown more-options-button">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= render 'show_options', megalith: @megalith, megalith_photo: @megalith_photo, type: "dropdown-item" %>
            </div>
          </div>

          <div class="btn-group more-options-nav" role="group" aria-label="Basic example">
            <%= render 'show_options', megalith: @megalith, megalith_photo: @megalith_photo, type: "btn btn-light" %>
          </div>

        </div>
      </div>

      <div class="subheading-elements mt-3">
        <div class="rating">
          <% if current_user.visited.include? @megalith %>
            <% if @my_rating %>
              <p><small>You rated:</small>★<%= @my_rating.score %></p>
            <% else %>
              <%= simple_form_for( [@megalith, @rating], html: { class: "review_form" }) do |f| %>
                <%= f.input :score, collection: 1..5 %>
                <%= f.submit "Rate", class: "d-none btn btn-light" %>
              <% end %>
            <% end %>
          <% end %>
          <% if @average_rating %>
            <p>★<%= @megalith.average_rating %> </p>
          <% else %>
            <p><small>★ Be the first to rate this megalith</small></p>
          <% end %>
        </div>
        <div id="category">
          <h5><%= @megalith.category %></h5>
        </div>
      </div>
      <HR> </HR>
      <div class="description-text-box">
        <div class="tagline"><h5><%= @megalith.tagline %> </h5></div>
        <div class="Description"><p><strong>Description:</strong> <br> <%= @megalith.description %></p></div>
      </div>
    </div>

    <div class="show-page-images">
      <div id="show-page-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
          <% if @megalith.megalith_photos.empty? %>
            <div class="carousel-item active">
              <%= image_tag "placeholder-megalith", class:"d-block w-100", alt:"Megalith"%>
            </div>
            <% else %>
            <% @megalith.megalith_photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index == 0  %>">
                <%= cl_image_tag photo.photo.key, class:"d-block w-100"%>
              </div>
            <% end %>
          <% end %>
          <a class="carousel-control-prev" href="#show-page-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#show-page-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="upvote-overlay">
        <div class="photo-by">
          <p><small><em>Photo by:</em></small></p>
          <!-- the below should be inside an iteration for the photo and use megalith_photo.user.username -->
          <p>Brian LithLegend</p>
        </div>
        <div class="upvoting">
          <%= link_to megalith_photos_upvote_path(@megalith.megalith_photos.first), method: :post, remote: true do %>
          <i class="fas fa-angle-up"></i>
          <% end %>
          <!-- the below should be inside an iteration for the photo and use megalith_photo.get_likes.size -->
          <p><%= @megalith.megalith_photos.first.get_likes.size %></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Map -->
  <div class="show-page-map">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <!-- tabs -->
  <div class="show-page-tabs mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="true">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="trips-tab" data-toggle="tab" href="#trips" role="tab" aria-controls="trips" aria-selected="false">Trips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nearby-tab" data-toggle="tab" href="#nearby" role="tab" aria-controls="nearby" aria-selected="false">Other Places</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <!-- comments section -->

        <div class="container" style="padding-bottom: 16px;">
          <div class="comment-form">
          <%= render partial: 'comments/form' %>
          </div>
          <%= render partial: 'comments/comment', collection: @megalith.comments.reverse %>
        </div>

        <!-- comments section -->
      </div>
      <div class="tab-pane fade" id="trips" role="tabpanel" aria-labelledby="trips-tab">
        <!-- Placeholder for trip cards -->
        <% if @trips[0] %>
          <% @trips.each do |trip| %>
            <%= render 'shared/trip_card', trip: trip, redirect: @megalith, redirect_type: 'megalith' %>
          <% end %>
        <% else %>
          <%= link_to new_megalith_trip_path(@megalith) do %>
            <h2 class="text-center mt-3">Be the first to add a trip</h2>
          <% end %>
        <% end %>
        <!-- placeholder for trip cards -->
      </div>
      <div class="tab-pane fade" id="nearby" role="tabpanel" aria-labelledby="nearby-tab">
        <div class="nearby-sites mt-3">
          <p>Nearby Sites:</p>
            <%= render 'shared/card', megalith: @megalith %>
        </div>
        <div class="nearby-pubs mt-3">
          <p>Nearby Pubs & Restaurants:</p>
          <!-- carousel of divs -->

          <!-- end of carousel -->
        </div>
        <div class="nearby-accomodation mt-3">
          <p>Nearby Accomodation:</p>
          <!-- carousel of divs -->

          <!-- end of carousel -->
        </div>
        <div id="showpage-map">
        <!-- insert map -->
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="plan_a_trip" tabindex="-1" aria-labelledby="planATripModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Plan a trip</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [ @megalith, @trip ] do |f| %>
            <%= f.input :name %>
            <%= f.input :tagline %>
            <%= f.input :description %>
            <%= f.button :submit, class: "btn btn-primary" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
